@font-face {
  font-family: "remotafont";
  src: url('../public/assets/fonts/uicons/remotafont.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family :  "remotafont", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
